<section class="site-section case-studies-section">
  <div class="section-header">
    <div class="fluid-width">
      <h3 class="section-header-title">CASE STUDIES</h3>
      <p class="section-header-sub body-copy third-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere volutpat risus quis consectetur. Duis eget bibendum lacus, sed pretium justo. </p>
    </div>
  </div>
  <div class="section-content">
    <div class="fluid-width">

      <article class="case-study half-width">
        <header class="case-study-header">
          <img class="case-study-image is-vertical-center" src="/images/case-studies/andys.png" alt="Andy's Frozen Custard" />
        </header>
        <div class="case-study-content">
          <h4 class="case-study-title">ANDY’S FROZEN CUSTARD</h4>
          <p class="case-study-body body-copy">Andy’s Frozen Custard has proven time after time (in our best Cyndi Lauper voice) that they exceed expectations of any dessert company.</p>
          <a class="case-study-link" href="">VIEW CASE STUDY</a>
        </div>
      </article>

      <article class="case-study half-width">
        <header class="case-study-header">
          <img class="case-study-image is-vertical-center" src="/images/case-studies/fayette.png" alt="Fayette Chill" />
        </header>
        <div class="case-study-content">
          <h4 class="case-study-title">FAYETTECHILL</h4>
          <p class="case-study-body body-copy">Fayettechill is a clothing company that not only appeals to its specific niche customer but also has a broad consumer base sold on its products; anywhere from the die hard fashion heads to the recreational trend-follower.</p>
          <a class="case-study-link" href="">VIEW CASE STUDY</a>
        </div>
      </article>

      <article class="case-study half-width">
        <header class="case-study-header">
          <img class="case-study-image is-vertical-center" src="/images/case-studies/msu.png" alt="Fayette Chill" />
        </header>
        <div class="case-study-content">
          <h4 class="case-study-title">MISSOURI STATE UNIVERSITY</h4>
          <p class="case-study-body body-copy">A gem of the midwest, Missouri State University stands as not only the second largest university in Missouri, but as one of the most valuable public universities in the region.</p>
          <a class="case-study-link" href="">VIEW CASE STUDY</a>
        </div>
      </article>

    </div>


  </div>
</section>