<section class="site-section case-studies-section">
  <div class="section-header">
    <div class="fluid-width">
      <h1 class="section-header-title">CASE STUDIES</h1>
      <p class="section-header-sub body-copy half-width">Each unique client calls for a unique approach. Our research finds raw, evidenced-based answers for questions about customers, brands and businesses. We communicate our findings in a crisp, easy to understand fashion that empowers clients to be bold in their decisions and unwavering in support. Feel free to explore the research from our most recent clients!</p>
    </div>
  </div>
  <div class="section-content">
    <div class="fluid-width">
      {% for study in site['case-study'] %}

      <article class="case-study">
        <header class="case-study-header">
          <a href="{{ study.url }}"><img class="case-study-image is-vertical-center off-load" data-src="{{ study.Logo['logo-image'] }}" alt="{{ study.title }}" src="" /></a>
        </header>
        <div class="case-study-content">
          <a href="{{ study.url }}"><h4 class="case-study-title">{{ study.title }}</h4></a>
          <p class="case-study-body body-copy">{{ study['Short Description'] }}</p>
          <a class="case-study-link" href="{{ study.url }}">VIEW CASE STUDY</a>
        </div>
      </article>
      {% endfor %}




    </div>


  </div>
</section>