<footer class="site-footer">
  <div class="footer-logo">
    <svg x="0px" y="0px" viewBox="0 0 847.1 525.1" style="enable-background:new 0 0 847.1 525.1;" xml:space="preserve">
      <style type="text/css">
        .st0{opacity:0.25;fill:#FFFFFF;}
        .st1{opacity:0.5;fill:#FFFFFF;}
        .st2{fill:#FFFFFF;}
      </style>
      <g>
        <polyline class="st0" points="847.1,523.4 581.1,0 359.7,264.6 202.7,92.4 0,525.1  "/>
        <polyline class="st1" points="847.1,523.4 530.3,105.1 439.6,240.6 306.3,92.4 0,525.1  "/>
        <polyline class="st2" points="847.1,523.4 597.9,219.8 473.5,461.8 359.7,295.3 259.2,442.5 157,288.1 0,525.1   "/>
        <path class="st2" d="M388,185.1"/>
      </g>
    </svg>
  </div>

  <div class="footer-ticker">
    <div class="ticker-content">
      <a class="ticker-link" target="_blank" href="mailto:contact@noday.com">SAY HELLO</a>
      <a class="ticker-link" target="_blank" href="mailto:contact@noday.com">SAY HELLO</a>
      <a class="ticker-link" target="_blank" href="mailto:contact@noday.com">SAY HELLO</a>
    </div>
  </div>
  <p class="site-credit">© 2016 NODAY. All Rights Reserved</p>
</footer>