<header class="site-header-full splash">
  <div class="fluid-width top-level-z">
    <nav class="site-nav animate-this header-nav-item">
      <a class="site-logo" href="/">
        <svg x="0px" y="0px" viewBox="0 0 847.1 525.1" style="enable-background:new 0 0 847.1 525.1;" xml:space="preserve">
          <style type="text/css">
            .st0{opacity:0.25;fill:#FFFFFF;}
            .st1{opacity:0.5;fill:#FFFFFF;}
            .st2{fill:#FFFFFF;}
          </style>
          <g>
            <polyline class="st0" points="847.1,523.4 581.1,0 359.7,264.6 202.7,92.4 0,525.1  "/>
            <polyline class="st1" points="847.1,523.4 530.3,105.1 439.6,240.6 306.3,92.4 0,525.1  "/>
            <polyline class="st2" points="847.1,523.4 597.9,219.8 473.5,461.8 359.7,295.3 259.2,442.5 157,288.1 0,525.1   "/>
            <path class="st2" d="M388,185.1"/>
          </g>
        </svg>
      </a>


      <a class="navbar-toggle collapsed animate-this header-nav-item">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </a>
    </nav>
  </div>
  <section class="site-header-content fluid-width">
    <h2 class="site-tag"><div class="animate-this animate-tag-line">NO MORE HUNCHES</div></h2>
    <div class="header-illustration"><img class="animate-this animate-illustration" src="images/illustrations/header.png" /></div>

    <a class="down-arrow" href="">
      <div class="animate-this animate-down-arrow">
        <svg viewBox="0 0 24 24">
          <path fill="#FFFFFF" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
        </svg>
      </div>
    </a>
  </section>
</header>