<section class="site-section methods-section">
  <div class="section-header">
    <div class="fluid-width">
      <h1 class="section-header-title third-width">OUR METHODS</h1>
      <div class="section-header-column">
        <h3 class="body-copy call-out">Move beyond your gut feeling.</h3>
        <p class="body-copy">Here at NoDay, we all wholeheartedly share one characteristic - a deep and vigorous love for research. Our team gets just as excited about the latest webinar as we do the new Star Wars. We use Chi-Square analysis to determine the correlation between coffee consumption and productivity. After every date, we follow up with a Likert-Scale survey to gauge how it went. We use Net Promoter Scores to determine who’s allowed to join us for lunch that day. And most importantly, we only work with people who pity laugh at our dirty “mahalanobis” jokes (Just Google it).</p>
        <p class="body-copy">But seriously, we are dedicated to our research and use that passion to get results that make a real difference for our clients. With a solid foundation in research and a uniquely creative team, we go the distance to find answers. NoDay is in the business of helping your business flourish.</p>
        <p class="body-copy strong">No more hunches.</p>
      </div>
    </div>
  </div>
  <div class="section-content">
    <div class="fluid-width content-container">
      <h3 class="section-header-title third-width"></h3>
      <div class="section-header-column">
        <h3 class="body-copy call-out">OUR STRATEGY FOCUSES ON THREE FACETS OF YOUR COMPANY.</h3>
        <p class="body-copy">From custom built surveys to focus group studies, pre-existing data analysis to customer segmentation, brand health evaluation to ad efficiency, we find statistically supported answers to your hardest questions.</p>
      </div>
    </div>
    <div class="fluid-width">
      <div class="row">

        <div class="column">
          <div class="panel match-height">
            <img class="panel-image off-load" data-src="/images/illustrations/customer-bg.png" src="" alt="" />
            <div class="panel-content">
              <h5 class="panel-title">THE CUSTOMER</h5>
              <ul class="panel-list">
                <li>Who are they?</li>
                <li>What drives their habits?</li>
                <li>How do they feel about you?</li>
                <li>What will they do next?</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="panel match-height">
            <img class="panel-image off-load" data-src="/images/illustrations/brand-bg.png" src="" alt="" />
            <div class="panel-content">
              <h5 class="panel-title">THE BRAND</h5>
              <ul class="panel-list">
                <li>When people hear our name, how do they feel?</li>
                <li>How can we more clearly communicate our identity?</li>
                <li>What makes us stand out?</li>
                <li>Why our company over our competitors?</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="panel match-height">
            <img class="panel-image off-load" data-src="/images/illustrations/business-bg.png" src="" alt="" />
            <div class="panel-content">
              <h5 class="panel-title">THE BUSINESS</h5>
              <ul class="panel-list">
                <li>What advertising gives us the best ROI?</li>
                <li>How can we convert traffic into sales?</li>
                <li>Can we increase our price without losing customers?</li>
                <li>What can we start to offer that will gain more customers?</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>