<section class="site-section our-team-section">
  <div class="section-header">
    <div class="fluid-width">
      <h3 class="section-header-title third-width">OUR TEAM</h3>
    </div>
  </div>
  <div class="section-content fluid-width">
    <div class="column half-width">

      <article class="team-member">
        <header class="team-member-header">
          <img class="team-member-image off-load" data-src="/images/team/chandler.jpg" src="" alt="Chandler Mercer" />
        </header>
        <div class="team-member-content">
          <h4 class="team-member-name">CHANDLER MERCER</h4>
          <h5 class="team-member-title">Co-Founder - Chief Research Officer</h5>
          <p class="team-member-body body-copy">Since Chandler was young, his curiosity for people and the human mind has fueled his drive for research. For 6 years he studied and perfected the craft, throughout both education and freelance work. He has worked with large and small companies alike including top officials at companies such as Burlington Northern Santa Fe and American Airlines. Chandler deals with all parts of the research process from start to finish, with an emphasis on the hard statistics and numbers.</p>
        </div>
      </article>

    </div>

    <div class="column half-width">

      <article class="team-member">
        <header class="team-member-header">
          <img class="team-member-image off-load" data-src="/images/team/jordan.jpg" src="" alt="Jordan Donaldson" />
        </header>
        <div class="team-member-content">
          <h4 class="team-member-name">JORDAN DONALDSON</h4>
          <h5 class="team-member-title">Co-Founder - Strategy and Learning</h5>
          <p class="team-member-body body-copy">Jordan discovered his love for research as the social media manager for one of the country's largest charities. While working with celebrities like Nick Jonas and companies like TOMS shoes, he began to notice the value of monitoring trends, studying responses and reacting accordingly. Jordan now heads up survey building, strategy, and customer learning with a distinct focus on capturing and keeping people's attention.</p>
        </div>
      </article>

    </div>

    <div class="column half-width">

      <article class="team-member">
        <header class="team-member-header">
          <img class="team-member-image off-load" data-src="/images/team/todd.jpg" src="" alt="Todd Daniel" />
        </header>
        <div class="team-member-content">
          <h4 class="team-member-name">DR. TODD DANIEL</h4>
          <h5 class="team-member-title">Research Specialist</h5>
          <p class="team-member-body body-copy">In the day to day world of research, two practices often intertwine—psychology and statistics. Dr. Daniel is an authority on both. With over 15 years of professional experience and a wildly successful statistics podcast, Dr. Daniel serves as a statistics and survey authority for NoDay. He is also the founder of the RStats Institute at Missouri State University.</p>
        </div>
      </article>

    </div>

    <div class="column half-width">

      <article class="team-member">
        <header class="team-member-header">
          <img class="team-member-image off-load" data-src="/images/team/tim.jpg" src="" alt="Tim Peacock" />
        </header>
        <div class="team-member-content">
          <h4 class="team-member-name">TIM PEACOCK</h4>
          <h5 class="team-member-title">Creative - Illustrator</h5>
          <p class="team-member-body body-copy">Every research team needs to be balanced by creative thinking. Tim has a natural ability to find creative angles to statistically driven research. By seeing things differently Tim is able to identify and tell the stories that matter. You may have seen his art in the New York Times, Wall Street Journal, and the Atlantic, to name a few.</p>
        </div>
      </article>

    </div>

    <div class="column half-width">

      <article class="team-member">
        <header class="team-member-header">
          <img class="team-member-image off-load" data-src="/images/team/mason.jpg" src="" alt="Mason Mercer" />
        </header>
        <div class="team-member-content">
          <h4 class="team-member-name">MASON MERCER</h4>
          <h5 class="team-member-title">Design - Advertising Research</h5>
          <p class="team-member-body body-copy">From music videos, animation, and soundtrack creations to high level marketing and advertising experience for companies such as F Sharp and Spotify, Mason does it all. He knows the ins and outs of an advertisement and is the person we turn to when we need creative ideas that can't be found anywhere else.</p>
        </div>
      </article>

    </div>

  </div>
  <div class="section-footer-bg"></div>
</section>