<section id="what-we-do" class="site-section what-we-do-section">
  <div class="section-header">
    <div class="fluid-width">
      <h3 class="section-header-title">WHAT WE DO</h3>
      <p class="section-header-sub body-copy third-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere volutpat risus quis consectetur. Duis eget bibendum lacus, sed pretium justo. </p>
    </div>
  </div>
  <div class="section-content">
    <div class="slider">

      <div class="slide listen-slide">
        <div class="fluid-width">
          <div class="slide-image">
            <span class="slide-number">1</span>
            <img src="/images/illustrations/listen.png" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">LISTEN</h3>
            <p class="slide-body body-copy">
              Great outcomes require a solid foundation of understanding. By lending an open ear to our clients, their customers and the unique business climate they operate in, our team builds an unbiased picture of where a business is and where we can help them go.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="fluid-width">
          <div class="slide-image dig-slide">
          <span class="slide-number">2</span>
            <img src="/images/illustrations/dig.png" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">LISTEN</h3>
            <p class="slide-body body-copy">
              Great outcomes require a solid foundation of understanding. By lending an open ear to our clients, their customers and the unique business climate they operate in, our team builds an unbiased picture of where a business is and where we can help them go.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="fluid-width">
          <div class="slide-image tell-a-story-slide">
            <span class="slide-number">3</span>
            <img src="/images/illustrations/tell-a-story.png" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">TELL A STORY</h3>
            <p class="slide-body body-copy">
              This is where we really shine. Meshing creativity with analytics is not an easy task, thankfully we have the formula down. Our clients can expect a clear, concise and accurate look into their consumers mind leading to actionable understanding. Together we help you make the right call when it matters, the first time.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>