<section id="what-we-do" class="site-section what-we-do-section">
  <div class="section-header">
    <div class="fluid-width">
      <h3 class="section-header-title">WHAT WE DO</h3>
      <p class="section-header-sub body-copy third-width">To put it simply, we execute in-depth research projects structured around the needs of your business.</p>
    </div>
  </div>
  <div class="section-content">
    <div class="slider">

      <div class="slide listen-slide">
        <div class="fluid-width">
          <div class="slide-image">
            <img class="off-load" data-src="/images/alt/listen.png" src="" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">FIRST WE LISTEN</h3>
            <p class="slide-body body-copy">
              Great outcomes require a solid foundation of understanding. By lending an open ear to our clients, their customers, and the unique business climate they operate in, we build an unbiased picture of where a business is and where we can help them go.
            </p>
          </div>
        </div>
      </div>

      <div class="slide dig-slide">
        <div class="fluid-width">
          <div class="slide-image">
            <img class="off-load" data-src="/images/alt/dig.png" src="" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">NEXT WE DIG</h3>
            <p class="slide-body body-copy">
              Solutions are everywhere when you know where to look. We are experts in designing compelling quantitative and qualitative research projects to get you the data you need. Our innovative research methods collect reliable consumer insights leading to evidence based decisions.
            </p>
          </div>
        </div>
      </div>

      <div class="slide tell-a-story-slide">
        <div class="fluid-width">
          <div class="slide-image">
            <img class="off-load" data-src="/images/alt/tell-a-story.png" src="" alt=""/>
          </div>
          <div class="slide-content">
            <h3 class="slide-title">LAST WE TELL A STORY</h3>
            <p class="slide-body body-copy">
              Blending creativity with analytics is difficult—thankfully we have the formula down. We give clients a clear, concise and accurate look into the consumer's mind. Together we help you make the right call the first time.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>