.case-studies-section {
  background-image: url(../images/illustrations/bg-pattern-red.png);
  background-color: $red;
  background-position: center center;

  .section-header {
    padding-top: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-top: $desktop-space;
    }

    .section-header-title {
      font-size: 48px;
      line-height: 48px;
      color: $white;
    }

    .section-header-sub {
      color: $white;
    }
  }

  .section-content {
    background: rgba(0,0,0, 0.2);

    margin-top: $mobile-space;
    padding-top: $mobile-space;
    padding-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      margin-top: $desktop-space;
      padding-top: $desktop-space;
      padding-bottom: $desktop-space;
    }

    @extend .clearfix;
  }

  .case-study {
    float: left;

    .case-study-header {
      background: $white;
      height: 200px;

      padding: $mobile-space 10%;

      @media screen and (min-width: $mobile-break) {
        padding: $desktop-space 10%;
      }

      position: relative;

      transition: opacity .25s;
      -webkit-transition: opacity .25s;

      &:hover {
        opacity: 0.95;
      }
    }

    &:nth-child(odd) {
      .case-study-header {
        background: $light-gray;
      }
    }

    margin-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      margin-bottom: 0;
    }
  }

  .case-study-content {
    padding: 10%;

    a {
      text-decoration: none;
    }
  }

  .case-study-title {
    font-size: 18px;
    line-height: 26px;

    @media screen and (min-width: $mobile-break) {
      font-size: 20px;
      line-height: 20px;
    }

    text-transform: uppercase;

    color: $white;
  }

  .case-study-body {
    color: $white;
  }

  .case-study-image {
    display: block;

    max-width: 300px;
    width: 100%;
    left: 0;
    right: 0;

    margin: 0 auto;
  }

  .case-study-link {
    font-weight: 900;
    text-decoration: none;

    color: $white;

    transition: opacity .25s;
    -webkit-transition: opacity .25s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.case-studies-single-section {
  background-image: url(../images/illustrations/bg-pattern-red.png);
  background-color: $red;
  background-position: center center;

  .section-header {
    padding-top: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-top: $desktop-space;
    }

    .section-header-title {
      font-size: 42px;
      line-height: 48px;

      @media screen and (min-width: $mobile-break) {
        font-size: 48px;
        line-height: 48px;
      }
      color: $white;

      text-transform: uppercase;
    }

    .section-header-sub {
      color: $white;
    }
  }

  .case-study-title {
    font-size: 48px;
    line-height: 48px;
    color: $white;
  }

  .case-study-single-header {
    background: $white;

    padding: 5%;

    img {
      margin: 0 auto;
      max-width: 100%;
      display: block;
    }

    margin-bottom: 55px;
  }

  .section-content {
    // background: rgba(0,0,0, 0.20);

    padding-top: 0;
    padding-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-bottom: $desktop-space;
    }

    @extend .clearfix;
  }

  .fluid-width {
    @extend .clearfix;
  }

  .section-header-sidebar {
    margin-bottom: 55px;

    @media screen and (min-width: $mobile-break) {
      max-width: 30.33%;
      float: left;
      padding-right: 3%;
      width: 100%;

      margin-bottom: 0px;
    }
  }

  .section-header-title {
    font-size: 38px;
    line-height: 44px;

    color: $white;
  }

  .section-header-column {
    color: $white;

    @media screen and (min-width: $mobile-break) {
      max-width: 66.66%;
      float: right;
      width: 100%;
    }
  }

  .body-copy {
    color: $white;

    font-size: 18px;
    line-height: 28px;

    margin-top: 0;
    margin-bottom: 28px;
  }

  .call-out {
    font-weight: 900;
    text-transform: uppercase;

    font-size: 20px;
    line-height: 26px;

    margin-bottom: 20px;

    @media screen and (min-width: $mobile-break) {
      font-size: 24px;
      line-height: 24px;

      margin-bottom: 30px;
    }
  }

  .strong {
    font-weight: 900;
    text-transform: uppercase;
  }
}