.what-we-do-section {
  .section-header {
    padding-top: $mobile-space;
    padding-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-top: $desktop-space;
      padding-bottom: $desktop-space;
    }

    background-image: url(../images/illustrations/bg-pattern.png);
    background-color: $purple;
    background-position: center center;

    .section-header-title {
      font-size: 48px;
      line-height: 48px;
      color: $white;
    }

    .section-header-sub {
      color: $white;
    }
  }

  .section-content {
    background: $white;
  }

  .slider {
    padding-top: $mobile-space;
    padding-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-top: $desktop-space;
      padding-bottom: $desktop-space;
    }
  }

  .slide {
    padding-top: $mobile-space;
    padding-bottom: $mobile-space;

    @media screen and (min-width: $mobile-break) {
      padding-top: $desktop-space;
      padding-bottom: $desktop-space;
    }

    .fluid-width {
      @extend .clearfix;
    }
  }

  .slide-title {
    font-size: 32px;
    line-height: 32px;

    color: $purple;
  }

  .slide-body {
    font-size: 18px;
    line-height: 28px;
  }

  .slide-image {
    @media screen and (min-width: $mobile-break) {
      width: 66.66%;
      float: left;
    }

    img {
      max-width: 800px;
      width: 100%;
      display: block;
    }

    position: relative;

    .slide-number {
      color: $purple;

      font-size: 124px;
      line-height: 124px;

      @media screen and (min-width: $mobile-break) {
        font-size: 260px;
        line-height: 260px;
      }

      position: absolute;
      right: 10px;

      font-weight: 900;

      text-align: center;

      @extend .is-vertical-center;

      text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .listen-slide {
    .slide-title {
      color: $green;
    }
  }

  .dig-slide {
    .slide-title {
      color: $red;
    }
  }

  .tell-a-story-slide {
    .slide-title {
      color: $purple;
    }
  }

  .slide-content {
    margin-top: 55px;

    @media screen and (min-width: $mobile-break) {
      float: left;
      width: 30.33%;
      margin-left: 3%;
    }
  }
}