.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.fluid-width {
  max-width: 1244px;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;

  position: relative;

  margin: 0 auto;
}

.third-width {
  @media screen and (min-width: $mobile-break) {
    max-width: 33.33%;
    width: 100%;
  }
}

.half-width {
  @media screen and (min-width: $mobile-break) {
    max-width: 50%;
    width: 100%;
  }
}

.push-down {
  margin-top: 100vh;
  position: relative;
  z-index: 10;
}

.is-fixed {
  padding-top: 60px;
}

.off-load {
  opacity: 1.0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
}

.off-load[data-src] {
  opacity: 0;
}